.code-intercalate {
    color: var(--code-color-text-plain);
    padding: 6px 6px 6px calc(4px + 1em);
    margin-top: 4px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.intercalate-error {
    border: 0 solid var(--mui-palette-Alert-errorFilledBg);
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: var(--mui-palette-Alert-errorStandardBg);
}

.intercalate-warning {
    border: 0 solid var(--mui-palette-Alert-warningFilledBg);
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: var(--mui-palette-Alert-warningStandardBg);
}

.intercalate-info {
    border: 0 solid var(--mui-palette-Alert-infoFilledBg);
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: var(--mui-palette-Alert-infoStandardBg);
}

.intercalate-success {
    border: 0 solid var(--mui-palette-Alert-successFilledBg);
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: var(--mui-palette-Alert-successStandardBg);
}

.remark-code-title {
    padding: 1em 1em 0.5em 1em;
    border-radius: 1em 1em 0 0;
    background-color: var(--code-color-background);
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    margin-top: 0.5em;
    box-shadow: var(--code-block-box-shadow);
    overflow: scroll;
}

.remark-code-title + pre[class*="language-"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    border-top: 1px solid var(--mui-palette-divider);
}

.remark-code-title + pre[class*="language-"].code-has-first-line-intercalate {
    padding-top: 0;
    border-top: 0;
}

.code-intercalate:first-child {
    margin-top: 0;
    margin-bottom: calc(1em - 2px);
}